.App {
  text-align: center;
}

html {
  scrollbar-gutter: stable;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes fade-in {
  from {
      opacity: 0;
      transform: translateY(-10px); /* Initial translateY value */
  }
  to {
      opacity: 1;
      transform: translateY(0px); /* Initial translateY value */
  }
}

.fade-in {
    animation: fade-in 0.5s ease-in-out; /* Adjust animation duration and timing function as needed */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000; 
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 40vw;
  background-color: #fff;
  z-index: 1500;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  overflow-y: auto;
  padding-right: 5px;
  padding-left: 20px;
}

.sidebar.open {
  transform: translateX(0);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #000;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

